@import '../css/_colors.scss';
@import '../css/_variables.scss';
@import '../css/_common.scss';

#cityselector {
    @extend .slide-in-panel;

    ol {
        list-style-type: none;
        margin: 0;
        padding: 0;

        a.country {
            display: block;
            text-decoration: none;
            color: #dadad9;
            font-size: 110%;
            padding: 3px;
            border-radius: 4px;

            span.flag {
                display: inline-block;
                margin-right: 7px;
                position: relative;
                top: 2px;
            }
        }

        a.country:hover, a.country:active {
            background: #494a42;
            color: #fff;
        }

        ol {
            display: none;

            a {
                border-radius: 4px;
                margin-left: 30px;
                display: block;
                padding: 3px;
            }

            a:hover, a:active {
                background: #494a42;
            }
        }

        li.active>ol {
            display: block;
        }

    }

}
