@import '../css/_colors.scss';
@import '../css/_variables.scss';
@import '../css/_common.scss';

#cityselector {
    @extend .slide-in-panel;

    ol {
        list-style-type: none;
        margin: 0;
        padding: 0;

        li {
            a.country {
                @extend .list-block-link;
                color: #dadad9;

                &:hover {
                    color: #fff;
                }
                span.flag {
                    display: inline-block;
                    margin-right: 7px;
                    position: relative;
                    top: 2px;
                }
            }
            &.active > a.country {
                color: #fff;
            }

            ol {
                display: none;

                a {
                    @extend .list-block-link;
                    margin-left: 30px;
                }
            }
            &.active > ol {
                display: block;
            }
        }
    }
}
