#welcome h1 {
    font-family: 'Roboto Slab', sans-serif;
    margin: 0 0 15px 0;
    font-size: 30px;
    font-weight: 400;
}

#topintro {
    font-family: 'Roboto Slab', sans-serif;
    font-size: 20px;
}

#subintro {
    color: #c7c7c5;
    font-size: 14px;
    line-height: 20px;
}

#credit {
    margin-top: 20px;
    text-align: center;
    color: #a1a29e;
}

#credit a {
    color: #c7c7c5;
}

#credit a:hover {
    color: #a1a29e;
}

#searchoptions {
    margin-top: 25px;
    text-align: center;
}

#opt-flags {
    text-align: center;
    width: 132px;
    display: inline-block;
    padding-left: 2px;
}

#opt-flags a {
    display: inline-block;
    margin-right: 2px;
}

#opt-majorcities {
    display: inline-block;
    background: #73a857;
    border-radius: 4px;
    text-transform: uppercase;
    text-align: center;
    width: 120px;
    padding: 9px 0 9px 0;
    color: #fff;
    vertical-align: top;
}

#opt-mylocation {
    text-align: center;
}

#opt-mylocation-button {
    background: #5772a8;
    border-radius: 4px;
    text-transform: uppercase;
    text-align: center;
    width: 258px;
    padding: 9px 0 9px 0;
    color: #fff;
    display: inline-block;
    margin-bottom: 3px;
}

#opt-mylocation-button.error {
    background: #a12f2f;
}
