# dependencies
node_modules
vendor

# testing
/coverage

# production
/app/build
sunrise-sunset-map
sunrise-sunset-map.zip
scp.sh

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.idea

npm-debug.log*
yarn-debug.log*
yarn-error.log*

/app/src/*.css
/app/src/*/*.css
/app/sass-lint.html
