$width-mobile:  800px;
$width-tiny:    360px;

$width-s:       900px;
$width-m:       1000px;
$width-l:       1150px;
$width-xl:      1400px;

$panel-width-xxl: 25%;
$panel-width-xl:  30%;
$panel-width-l:   35%;
$panel-width-m:   40%;
$panel-width-s:   45%;

$title-font:      'Roboto Slab', sans-serif;
$body-font:       'Lato', sans-serif;
$body-font-size:  14px;
$title-font-size: $body-font-size + 11px;
