#info-container {
    position: absolute;
    right: 0;
    left: 75%;
    top: 0;
    padding: 15px 20px 20px 20px;
}

@media(max-width: 1400px) {
    #info-container { left: 70%; }
}

@media(max-width: 1150px) {
    #info-container { left: 65%; }
}

@media(max-width: 1000px) {
    #info-container { left: 60%; }
}

@media(max-width: 900px) {
    #info-container { left: 55%; }
}

@media(max-width: 800px) {
    #info-container {
        position: static;
        padding-top: 10px;
    }
}

@media(max-width: 360px) {
    #info-container {
        padding: 15px;
    }
    #sunicon, #moonimggraphic {
        width: 80px !important;
        height: 80px !important;
    }
}

@media(min-width: 801px) {
    #info-container {
        max-height: 100%;
        min-height: 100%;
        overflow-x: hidden;
        overflow-y: auto;
        box-sizing: border-box;
    }
}