@import '../css/_colors.scss';

#tzselection {
    background: $panelGradient;
    z-index: 100000;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    padding: 15px 20px 20px 20px;
    overflow-y: scroll;
}

@media(max-width: 800px) {
    #tzselection {
        position: fixed;
        transform: translateY(100%);
        max-height: 100%;
    }
}

@media(min-width: 801px) {
    #tzselection {
        position: absolute;
        transform: translateX(100%);
        max-height: 100%;
    }
}

#tzselection h1 {
    font-family: 'Roboto Slab', sans-serif;
    font-weight: normal;
    margin: 0;
    padding: 0;
    font-size: 25px;
}

#tzselection h2 {
    font-family: 'Roboto Slab', sans-serif;
    font-weight: normal;
    color: #fff !important;
    margin: 10px 0 !important;
    padding: 0;
    font-size: 20px;
}

#tzselection h1 a {
    color: #6d6e68;
    float: right;
    clear: none;
}

#tzselection h1 a:hover {
    color: #ffd700;
}

#tzalllist a, #tzalllist a:link, #tzalllist a:visited,
#tzmatchlist a, #tzmatchlist a:link, #tzmatchlist a:visited {
    display: block;
    text-decoration: none;
    color: #d4ffbc;
    font-size: 110%;
    padding: 3px;
    border-radius: 4px;
}

#tzalllist a:hover, #tzalllist a:active,
#tzmatchlist a:hover, #tzmatchlist a:active {
    background: #494a42;
}

#tzalllist a span, #tzmatchlist a span {
    color: #fff;
    padding-right: 4px;
}

#tzmatchcontainer strong {
    font-size: 120%;
    display: block;
    border-bottom: 1px solid #333;
    margin-top: 5px;
    margin-bottom: 5px;
}