@import '../css/_colors.scss';
@import '../css/_variables.scss';
@import '../css/_common.scss';

#timezoneselector {
    @extend .slide-in-panel;

    .zone-list {
        a, a:link, a:visited {
            @extend .list-block-link;
            color: $accent-text;

            span {
                color: #fff;
                padding-right: 4px;
            }
        }
    }

}
